
.container{
  border-style: none;
  width: 500px;
  height: 400px;
  background-color: #336699;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-item{
  background-color: red;
  margin: 5px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.item1{
  width:300px;
  align-self: center;
}
.item2{
  width:300px;
  align-self: flex-start;
}
.item3{
  flex-grow: 1;
  align-self: stretch;
}

.item4{
  flex-grow: 1;
  align-self: center;
}
.item5{
  flex-grow: 2;
  align-self: baseline;
}
.item6{
  flex-grow: 1;
  align-self: flex-end;
}